@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

@layer utilities {
  .glass-card {
    background-color: rgba(22, 17, 27, 0.6);
    backdrop-filter: blur(12px);
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
  }
  .neon-glow-primary {
    box-shadow: 0 0 15px rgba(168, 85, 247, 0.4);
  }
  .neon-glow-focus:focus {
    box-shadow: 0 0 20px rgba(168, 85, 247, 0.6);
    border-color: #b76dff;
  }
}
